@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --font-heading: "Playfair Display", serif;
  --font-body: "Source Sans 3", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: #0f0f0f;
  color: #fefae0;
}

header {
  background-color: #141414;
  height: 9vh;
  border-bottom: 1px solid #262626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 25px;
  height: 25px;
  fill: #d4a373;
}

.main-plate-img {
  width: 300px;
}

#content {
  height: 91vh;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-div {
  background-color: yellow;
  width: 100%;
  height: 80%;
  display: flex;
}

.main-text-div {
  background-color: red;
}
